@import '../variables.scss';
@import '../mixins.scss';

.container-footer{
    width: 100%;
    height: 40vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: $milkyBeige;

    .up{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        height: 70%;

        .left{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            width: 30%;
            img{
                width: 120px;
                height: 120px;
            }
            p{
                @include textthin
            }
        }

        .right{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
            width: 35%;

            div{
                text-align: left;
                p{

                }
                .column-title{
                    @include headtitle-columnfooter;
                    padding-bottom: 8px;
                }
                ul{
                    li{
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-start;
                        align-items: center;
                        @include textthin;
                        padding-bottom: 5px;
                    }
                }
            }
        }
    }
    .line{
        width: 90%;
        background-color: $blackGrey;
        height: 1px;
        padding: 0;
        margin: 8px 0px;

    }

    .down{
        width: 90%;
        height: 8%;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .left{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            width: 45%;

            p{
                @include textlight;
                width: max-content;
            }
        }
        .right{
            width: 30%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            p{
                @include textlight;
            }
        }
    }
}