@import '../variables.scss';
@import '../mixins.scss';


.section5{
    width: 100%;
    height: 80vh;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2{
        @include headtitle-columnfooter;
        font-size: 24px;
    }

    .container-article{
        width: 90%;
        height: 80%;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        .article_link{
            width: 70%;
            height: 90%;

            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            border-radius: 75px;
            :hover{
                box-shadow:
                0px 0px 2.7px rgba(0, 0, 0, 0.016),
                0px 0px 6.9px rgba(0, 0, 0, 0.022),
                0px 0px 14.2px rgba(0, 0, 0, 0.028),
                0px 0px 29.2px rgba(0, 0, 0, 0.034),
                0px 0px 80px rgba(0, 0, 0, 0.05)
            ;
            transition: 400ms;
            }

            .article_text{
                width: 80%;
                height: 100%;
    
                display: flex;
                flex-direction: column;
                justify-content: space-between;
    
                padding: 3%;
                border-radius: 12px;
                :hover{
                    box-shadow: none;
                }
                
                .article_img{
                    width: 65%;
                    margin: 0px auto;
                }
                .article_data{
                    .article_title{
                        @include textlight;
                        font-size: 20px;
                        font-weight: 600;
                        transform: none;
                        color: $blackGrey;
                    }
                    .article_p{
                        @include textlight;
                        transform: none;
                        color: $blackGrey;
                        padding-top: 6px;
                    }
                    
                }
                ul{
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-end;
                    li{
                        img{
                            width: 22px;
                            height: auto;
                        }
                    }
                }
            }
        }
        
    }
}