@import '../variables.scss';
@import '../mixins.scss';


.section3{
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .container-competence{
        height: 80%;
        width: 90%;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .skills{
            display: flex;
            flex-direction: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;
            width: 100%;
            height: 100%;
            #card{
                transition: all 0.2s ease-in-out;
                
            }
            :hover{
                transform: scale(1.05);
                transition-duration: 250ms;
            }
        }
        

        .skill_text{
            width: 30%;
            height: 40%;

            box-shadow:
                0px 0px 3.5px rgba(0, 0, 0, 0.031),
                0px 0px 8.8px rgba(0, 0, 0, 0.044),
                0px 0px 17.9px rgba(0, 0, 0, 0.056),
                0px 0px 36.9px rgba(0, 0, 0, 0.069),
                0px 0px 101px rgba(0, 0, 0, 0.1)
            ;
            border-radius: 25px;

            padding: 3%;

            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            

            .skill_data{
                width: 60%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                transform: none;
                .skill_title{
                    @include textlight;
                    font-size: 18px;
                    font-weight: 500;
                    transform: none;
                }
                .skill_p{
                    @include textlight;
                    transform: none;
                }
            }
            .skill_img{
                width: 100px;
                height: auto;
                transform: none;
            }
        }
    }

}

