@import '../variables.scss';
@import '../mixins.scss';

.section6{
    height: 47vh;
    width: 100%;
    background-color: $lightGrey;

    display: flex;
    justify-content: center;

    .container-remindContact{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        width: 90%;
        height: 100%;

        .left{
            width: 45%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 70%;
            h4{
                @include subtitle;
                font-size: 32px;
                padding-bottom: 5%;
            }
            p{
                @include textthin;
                font-size: 20px;
                width: 70%;
                padding-bottom: 5%;
            }
            .link-remindcontact{
                background-color: $blackGrey;
                padding: 2% 10%;
                border-radius: 70px;
                width: max-content;
                height: 15%;

                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                span{
                    color: $milkyBeige;
                    text-align: center;
                    @include headtitle-columnfooter;
                    
                }
            }
        }
        .right{
            width: 40%;
            height: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            img{
                width: 55%;
            }
        }
    }
}