@import 'variables';
@import 'mixins';

/* Menu Button 3 */
.menu-btn-3 {
  height: 32px;
  width: 40px;
  cursor: pointer;
}

.menu-btn-3 span,
.menu-btn-3 span::before,
.menu-btn-3 span::after {
  background: $milkyBeige;
  content: '';
  position: absolute;
  width: 30px;
  height: 3px;
  margin-top: 13px;
  border-radius: 15px;

  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);

  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

.menu-btn-3 span::before {
  margin-top: -12px;
}

.menu-btn-3 span::after {
  margin-top: 12px;
}

.menu-btn-3.active span {
  background: transparent;
}

.menu-btn-3.active span::before {
  margin-top: 0;

  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.menu-btn-3.active span::after {
  transform: rotate(-45deg);
  margin-top: 0;
}