@font-face {
    font-family: 'LemonMilk';
    src: url('../assets/fonts/LemonMilk-regular.otf') format('truetype');
  }
  @font-face {
    font-family: 'MadeOkineSans-Light';
    src: url('../assets/fonts/MadeOkineSans-Light.otf') format('truetype');
  }
  @font-face {
    font-family: 'MadeOkineSans-Thin';
    src: url('../assets/fonts/MadeOkineSans-Thin.otf') format('truetype');
  }