@import './variables.scss';
@import './mixins.scss';

//ResetCSS//
html,
body,
#root {
  height: 100vh;
  width: 100%;
}
//----------------//

.app{
    width: 100%; 
    height: 100%;
    .container{
        
        width: 100%;
        height: 100%;
        .hidden {
            display: none;
        }
        .menu{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            
        }
        .section1{
            height: 100vh;
            width: 100%;
            padding-top: 120px;

            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            .container-hero{
                width: 90%;
                height: 80%;

                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;


                #share-box{
                    :hover{
                        background-color: #F4C59A;
                        transition: 300ms;
                    }
                }
                .share-box{
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    padding: 4px 20px;
                    border-radius: 25px;
                    background-color: #F5E1CF;
                    img{
                        width: 24px;
                    }
                    h3{
                        @include textlight;
                        font-size: 16px;
                        font-weight: 500;
                        padding-left: 6px;
                        color: #F77737;
                    }
                }
                .hero-title{
                    h1{
                        @include title;
                        text-align: center;

                        color: $blackGrey;
                    }
                    h2{
                        @include title;
                        text-align: center;
                        color: $blackGrey;
                    }
                }
                .hero-description{
                    width: 25%;
                    p{
                        width: 100%;
                        text-align: center;
                        @include textlight;
                    }
                }
                .hero-buttons{
                    width: 50%;

                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;

                    .hero-button{
                        width: 40%;
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        padding: 8px 25px;
                        border-radius: 25px;

                        @include textthin;
                        font-size: 17px;
                        font-weight: 700;
                        img{
                            width: 18px;
                        }
                        .hero-button-link{
                            padding-left: 8px;
                            text-align: center;
                        }
                    }
                    .hero-button-1{
                        background-color: $milkyBeige;
                        .hero-button-link{
                            color: $blackGrey;
                        }
                    }
                    .hero-button-2{
                        background-color: $blackGrey;
                        img{
                            color: $milkyBeige;
                        }
                        .hero-button-link{
                            color: $milkyBeige;
                        }
                    }
                } 
            }
        }
        .section2{
            height: 100vh;
            background-color: $lightGrey;
            div{
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                h2{
                    @include bigtitle;
                    text-align: center;
                    width: 75%;
                }
                .arrow-down{
                    width: 200px;
                    height: auto;
                }
            }
        }
        .section4{
            height: 80vh;
            width: 100%;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            h2{
                @include headtitle-columnfooter;
                font-size: 24px;
            }
            .container-team{
                width: 90%;
                height: 80%;

                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                .slider-team{
                    width: 250px;
                    height: auto;
                    z-index: -1;
                }
            }
        }

        footer{
            height: 30vh; 
        }
    }
}
