@import './variables.scss';
@import './mixins.scss';

    
.section{
    width: 100%;
    height: 100vh;
    background-color: $blackGrey;

    display: flex;
    flex-direction: row;
    justify-content: center;
    
    div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        .link-menu-modal{
            padding: 8%;
            border: solid black 1px;
            h3{
                color: $milkyBeige;
                @include nav;
            }
        }
    }
    .layer1{

    }
    .layer2{
        background-color: $milkyBeige;
        .link-menu-modal{
            h3{
                color: $blackGrey;
            }
        }
    }
    .layer3{
        
    }
    .layer4{
        background-color: $milkyBeige;
        .link-menu-modal{
            h3{
                color: $blackGrey;
            }
        }
    }
    .layer5{
        
    }
    
}