@use './fonts.scss';
@use './variables.scss';

@mixin bigtitle {
    font-size: 72px;
    letter-spacing: 20%;
    font-weight: 600;
    font-family: "LemonMilk";
}
@mixin title {
    font-size: 52px;
    letter-spacing: 10%;
    font-weight: 600;
    font-family: "LemonMilk";
}
@mixin subtitle {
    font-size: 24px;
    letter-spacing: 15%;
    font-weight: 500;
}

@mixin headtitle-columnfooter {
    font-size: 14px;
    font-weight: 500;
    font-family: "LemonMilk";
}

@mixin textlight {
    font-size: 15px;
    font-weight: 400;
    font-family: "MadeOkineSans-Light";
}

@mixin textthin {
    font-size: 15px;
    font-weight: 400;
    font-family: "MadeOkineSans-thin";
}

@mixin nav {
    font-size: 64px;
    font-weight: 500;
    text-align: center;
}