@import 'variables';
@import 'mixins';
@import 'fonts';

.searchbar-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 10px;
    .search-icon{
        width: 8%;
        color: $milkyBeige;
        cursor: pointer;
    }
    .field{
        display: inline-block;
    }
    .form__group {
        position: relative;
        width: 100%;
        height: 50%;
        margin: auto;
        .form__field {
            position: absolute;
            top: -7px;
            left: 8px;
            width: 100%;
            border: 0;
            outline: 0;
            color: $lightGrey;
            background: transparent;
            &::placeholder {
              color: transparent;
            }
          
            &:placeholder-shown ~ .form__label {
              font-size: 1.3rem;
              cursor: text;
              top: -8px;
              left: 7px;
            }
            &:required,&:invalid { box-shadow:none; }
        }
        .form__label {
            position: absolute;
            display: block;
            transition: 0.2s;
            font-size: 1.3rem;
            color: $lightGrey;
        }
        .form__field:focus {
            ~ .form__label {
              position: absolute;
              top: -7px;
              display: block;
              transition: 0.2s;
              font-size: 1.3rem;
              opacity: 0;  
            }
            font-size: 1.3rem;
        }
    } 
}
 