@use './styles/variables.scss';
@use './styles/mixins.scss';
@use './styles/home.scss';
@import './styles/variables.scss';
@import './styles/mixins.scss';
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
}
body{
  margin: 0;
}

ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a{
  text-decoration: none;
}
.nav{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: $blackGrey;
  padding: 10px;
  align-items: center;
  align-content: center;
  height: 100px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  .left{
      width: 30%;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
  }
  .right{
      img{
          width: 100px;
          height: auto;
      }
  }
}